<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Principal</title>
</head>
<body>
<h1>Pagina Principal del Sitio Biblioteca</h1>
<h2>Seccion N1 </h2>
<h6>Subtitulo</h6>
<p>Es Un Parrafo</p>
<p>Hola Compañeros</p>
<p>Aprendiendo html</p>

<a href="http://google.com">Ingreso A Google-------</a>
<div Style="background-color:green;"><p>Parrafo Dentro del Div</p></div>
<div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/200px-HTML5_logo_and_wordmark.svg.png"></div>
<div><input type="number"/><input type="submit"></div>
</body>
</html>