<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Gestion de Prestamos</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Libros">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Estudiantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Prestamos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--
<h1>Pagina Principal del Sitio Biblioteca</h1>
<h2>Seccion N1 </h2>
<h6>Subtitulo</h6>
<p>Es Un Parrafo</p>
<p>Hola Compañeros</p>
<p>Aprendiendo html</p>

<a href="http://google.com">Ingreso A Google-------</a>
<div class="cajita"><p>Parrafo Dentro del Div</p></div>
<div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/200px-HTML5_logo_and_wordmark.svg.png"></div>
<div><input type="number"/><input type="submit"></div>
<div class="cajita" id="cajita">
    <table class="tabla">
        <tr>
            <td>Campo 1</td>
            <td>Campo 2</td>
            <td>Campo 3</td>
        </tr>
        <tr>
            <td>Campo 1</td>
            <td>Campo 2</td>
            <td>Campo 3</td>
        </tr>
    </table>
</div>
<div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/200px-HTML5_logo_and_wordmark.svg.png"></div>
-->
</body>
</html>